<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deeppatel.rotamanager">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".member.MySchedule.RequestTimeChangeActivity" />
        <activity android:name=".member.MemberHomePage" />
        <activity android:name=".admin.TimeChangeRequest.ViewTimeChangeRequest" />
        <activity android:name=".admin.ManageStaff.MemberTimeEntriesActivity" />
        <activity android:name=".admin.ManageStaff.EditStaffMemberActivity" />
        <activity android:name=".admin.ManageStaff.NewStaffMemberActivity" />
        <activity android:name=".admin.Scheduler.NewTimeEntry" />
        <activity android:name=".admin.TimeChangeRequest.TimeChangeRequest" />
        <activity android:name=".admin.Scheduler.AdminSchedulerActivity" />
        <activity android:name=".admin.AdminProfile.AdminProfile" />
        <activity android:name=".admin.ManageStaff.StaffMembersActivity" />
        <activity android:name=".admin.AdminDashboard" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
    </application>

</manifest>