<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deeppatel.rotamanager">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.member.TimeChangeRequest.TimeChangeRequestActivity" />
        <activity android:name=".presentation.member.MemberHomeActivity" />
        <activity android:name=".presentation.admin.TimeChangeRequest.ViewTimeChangeRequest" />
        <activity android:name=".presentation.admin.ManageStaff.MemberTimeEntriesActivity" />
        <activity android:name=".presentation.admin.ManageStaff.ProfileActivity" />
        <activity android:name=".presentation.admin.ManageStaff.NewStaffMemberActivity" />
        <activity android:name=".presentation.admin.Scheduler.NewTimeEntryActivity" />
        <activity android:name=".presentation.admin.TimeChangeRequest.TimeChangeRequestsActivity" />
        <activity android:name=".presentation.admin.Scheduler.AdminSchedulerActivity" />
        <activity android:name=".presentation.admin.AdminProfile.AdminProfile" />
        <activity android:name=".presentation.admin.ManageStaff.StaffMembersActivity" />
        <activity android:name=".presentation.admin.AdminDashboard" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
    </application>

</manifest>